[2018-06-22 20:48] juanchon998 opened #1 "Adding an import specifically for the textbook/4540"
Ideally each block of python code in the textbook will be self contained. Thus, each block must have an import statement. Right now, we use `from aide_design.play import*`, which does not encompass all the functions needed in 4540.

We should create a new import file which will contain all the files and functions required in 4540, so that we only need one import per code block in the book and in a

[2018-06-22 21:06] juanchon998 opened #2 "Automate textbook publication"
From CEE4540_Master created by [juanchon998](https://github.com/juanchon998) : AguaClara/CEE4540_Master#26

When the textbook repository is put online, we would like to be able to link to an equation in other documents/pages with pandoc. Also create a "textbook" repo that has only that textbook. Make Pandoc run on Travis CI.

[2018-06-22 21:07] juanchon998 opened #3 "Suggested edits for Fluid Review Design"
From CEE4540_Master created by [IanCullings](https://github.com/IanCullings) : AguaClara/CEE4540_Master#18

Here are a bunch of areas I thought could be edited on my initial read through:
* When listing the assumptions for the Bernoulli equation, you state that "friction by viscous forces must be negligible" but never define exactly what that means.   Consider adding a sentence or two to define th

[2018-06-22 21:07] juanchon998 opened #4 "Website for hosting textbook"
From CEE4540_Master created by [IanCullings](https://github.com/IanCullings) : AguaClara/CEE4540_Master#20

If you are planning on hosting the textbook on a website, one easy, cheap solution would be to use Github pages.  This allows you to build a website within a repo and host it for free through Github.  There are various levels you could go with this, you could do the HTML and CSS yourself, or

[2018-06-22 21:08] juanchon998 opened #5 "Comments on Flocculation Design"
From CEE4540_Master created by [IanCullings](https://github.com/IanCullings) : AguaClara/CEE4540_Master#24

* To me it is confusing to introduce flocculation by immediately jumping to sedimentation.  I would instead write a paragraph on what flocculation is, and then explain why it is used with the paragraph you have now (Unless this is all covered in the introduction?)
* Should the reader be expe

[2018-06-22 22:17] juanchon998 opened #6 "Suggested Edits for Flow Control and Measurement Design"
From CEE4540_Master created by [IanCullings](https://github.com/IanCullings) : AguaClara/CEE4540_Master#21

More edits for the FCM section
* In first section on flow control you mention the flow is too coarse, what exactly do you mean by that?
* In drain system derivation, it is very challenging to read the final equations due to the purple color, either explain how to switch to light background o

[2018-06-22 22:31] juanchon998 commented on #3
From CEE4540_Master:

isakaminsky:
- Introduce variable for head earlier maybe?
 -Introduce control volumes and streamlines

ananya-gangadhar:
- For Laminar and Turbulent Flow, specify the approximate value/range of the Reynold's number for each type of flow in the second paragraph
- Streamlines and Control Volumes, second paragraph: "Imagine" instead of "image"?
- First image in Streamlines and C

[2018-06-22 22:37] juanchon998 opened #7 "Content of Rapid Mix: Theory and Future Work?"
How should the content that is currently planned for the 'Theory and Future Work' section of the 'Rapid Mix' chapter be distributed?

It turns out that Rapid Mix is the term used to refer to a plethora of processes. Is having everything in one chapter the best way to talk about 'rapid mix?'

Keep everything in the 'Rapid Mix' chapter Pros:
- Makes sense if we want to make sure that all chapters ar

[2018-06-23 16:55] ethan92429 commented on #4
We are now using gh pages - but specifically a sphinx build completed on Travis. The output is then uploaded to Travis as explained [here.](https://github.com/AguaClara/Textbook/blob/master/README.md) The domain name is https://aguaclara.github.io/Textbook

[2018-06-23 16:55] #4 closed

[2018-06-25 22:21] ethan92429 commented on #2
I think this is done. Now we could add: automated pdf generation, discussion to each page, etc...

[2018-06-25 22:21] #2 closed

[2018-06-25 22:22] ethan92429 commented on #1
Please just add to aide_design.play. That import is meant to encompass everything - because it is used for interactive and not production code.

[2018-06-25 22:29] ethan92429 opened #10 "2-level File structure?"
With the new build system, the file hierarchy is reflected directly within the URL. I propose we attempt to keep the URL as short as possible. Maybe that would be a max 2-level deep repo for main pages? and max 3 for resources? Example: aguaclara.github.io/Textbook/section/page  Therefore we take everything out of the "Aguaclara water treatment plant design" folder. Thoughts on this? Is this enoug

[2018-06-26 16:02] juanchon998 commented on #1
Will do!

[2018-06-26 16:19] juanchon998 commented on #1
@clare45

[2018-06-26 21:33] clare45 opened #12 "running doctests automagically with Sphinx"
@ethan92429

Do research

[2018-06-26 21:36] juanchon998 opened #13 "Specify version of aide_design/python"
We need to tell the textbook consumers what versions of python and aide_design we are using. Include this when we are easing the readers into python, probably into the intro structure.

[2018-06-27 02:17] ethan92429 commented on #13
Note that Travis, since it is running all your tests, will need to also know the versions. Basically, the environment that Travis tests the textbook in is also the environment in which the students will want to work in. It is guaranteed to work in the Travis environment (because it did when you pushed!)

[2018-06-27 02:27] ethan92429 opened #14 "Define development process"
The master branch was left broken today, which luckily didn't break the website (because the gh-pages branch is pushed to exclusively by travis) however, we shouldn't ever let the master branch not pass Travis. Never ever. Master branches should always pass the tests to ensure that whoever attempts to work on the text next can pick up from where the last left off. Therefore I propose the ONLY way

[2018-06-27 12:59] juanchon998 commented on #14
That'd my bad, I think I left it broken last night with my final commit and merge. I like the idea of using pull requests to prevent this. I will think about where this should go and write it in today.

[2018-06-27 13:00] juanchon998 commented on #10
Done!

[2018-06-27 13:00] #10 closed

[2018-06-27 23:24] eak24 opened #17 "Add PDF and Latex output to the site"
After discussing this with Monroe and Juan, we decided it would be useful to have a PDF and Latex version of the textbook. I've investigated this for a few hours, and have come to the conclusion that the best looking PDF comes out of running `make pdflatex` (which is a Sphinx command that builds a latex document whose intention is to be converted to PDF) and then use [Tectonic](https://github.com/

[2018-06-27 23:45] ethan92429 commented on #17
Here's an example PDF of the current site made through this process.
[AguaClaraTextbook.pdf](https://github.com/AguaClara/Textbook/files/2143264/AguaClaraTextbook.pdf)

[2018-06-27 23:46] ethan92429 commented on #17
@juanchon998 @clare45 let me know if there's anything you'd like to have changed in the way the pdf is generated above.

[2018-06-27 23:50] ethan92429 opened #18 "Add analytics"
Add Google analytics or something like it in order to track page views.

[2018-06-28 14:14] ethan92429 commented on #17
After a looong look at trying to get Travis to run locally so I could test pdf generation, I decided it was too hard. I tried using travis-build to turn my yaml into a .sh, but I had trouble knowing how to install it, and I tried running Travis locally - which worked, but without travis-build, I can't do much...

[2018-06-28 16:48] juanchon998 opened #20 "Issue with the new disqus addition"
Since the disqus feature was added yesterday I have been unable to make local builds. Here is the error that I get:
![image](https://user-images.githubusercontent.com/27255695/42048347-0457c544-7ad1-11e8-8391-40398aef334a.png)

I have looked up some potentially relevant errors, links, and issues, but I find myself more scared than empowered when I think about implementing any solutions...

This on

[2018-06-29 00:02] #17 closed, assigned to eak24

[2018-06-29 13:55] ethan92429 commented on #20
@juanchon998 do you want to document this? Thanks for pointing it out!

[2018-06-29 13:55] juanchon998 commented on #20
I shall!

[2018-06-29 19:55] juanchon998 commented on #14
This has been implemented

[2018-06-29 19:57] juanchon998 commented on #13
@monroews @clare45 what versions of python are you using? Right now mine is 3.6.3, but I will not be writing too much python.

[2018-06-29 20:18] juanchon998 opened #24 "Organization of the first few chapters: intro, fluids review, and python"
Hello textbook team,

I'm thinking about how to organize fluids review, python review, and the general book introduction.

Right now my thoughts are as follows:

Chapter 0: Introduction to AguaClara
- **Introduction:** a long intro
- **Design:** no design
- **Future Work:** a brief overview of prospective research... wastewater/flouride, 1 LPS

Chapter 0.5: Review
- **Introduction** has two compon

[2018-06-30 20:47] monroews opened #26 "test use of python to directly create graphs"
The directions for this method are at [here](http://nipy.org/nipy/devel/guidelines/sphinx_helpers.html#inserting-matplotlib-plots)
If it works well, then add it to the conventions

[2018-07-01 16:46] juanchon998 opened #27 "Big broad overview before getting into any specifics"
Josiah Hinterberger learns best when a big broad overview is given first: what everything is and why we use it with little to no detail. Then jumping into the weeds makes everything far more intuitive, we know what we can understand how everything fits in.

Josiah will work on making a script and perhaps a video for this, modeled after "_____ in one hour." Reach out to him again in 1 week to see w

[2018-07-02 12:57] ethan92429 commented on #14
Hi @AguaClara/textbook

I've been solidifying the deploy process as of late and I think I have finally developed a process that will work well. [Here is the documentation.](https://rawgit.com/AguaClara/Textbook/test/html/Textbook_Creation_Help/rst_intro.html#publishing-online)

In summary, in order to get code onto the official site, it needs to pass the Travis checks (doctests, html generation wi

[2018-07-02 18:10] juanchon998 commented on #1
Ok @clare45 I added cdc_functions to aide_design, in the filter_design branch.

As you add the past DCs to the book, include any imports you need in the aide_design under the filter_design branch. Make sure to test the new imports!

You can do all of this by first cloning aide_design, then going to the filter_design branch. Make the changes to the play.py file to include the necessary imports and

[2018-07-02 18:38] juanchon998 commented on #14
I am a little confused by this. I recently worked on, commited, and pushed changes to the convention_setup branch. And yet the remote test branch does not show my commits. Am I misunderstanding the function of the branch? rawgit is super cool!

[2018-07-03 11:51] ethan92429 commented on #14
@juanchon998 I just looked into this. What I implemented isn't available until the code I wrote yesterday (and that has an outstanding PR) is incorporated into the master branch. Once that is incorporated, and your up to date with master AND your convention_setup branch is passing (right now it is failing because of 9 broken external links 9 of them) then it'll push to the test branch. It won't pu

[2018-07-03 13:55] clare45 commented on #13
I'm on 3.6.5

[2018-07-03 14:03] clare45 commented on #24
That seems reasonable to me for Chapters 0 and 0.5. For the python including both would probably be good as long as the correct python tutorial is linked, though I don't anticipate many people would spend much time time doing it unless assigned. But that could be what an updated tutorial could be.

[2018-07-03 23:40] monroews opened #29 "pip install disqus doesn't work on Windows"
(base) C:\Users\mw24>pip install git+https://github.com/rmk135/sphinxcontrib-disqus
Collecting git+https://github.com/rmk135/sphinxcontrib-disqus
  Cloning https://github.com/rmk135/sphinxcontrib-disqus to c:\users\mw24\appdata\local\temp\pip-req-build-ggqja6w4
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <modul

[2018-07-05 13:00] clare45 opened #30 "RST Contributor guide fixes"
- There is ambiguity in the code block vs running code sections. Specifically displaying + indentation in code blocks!
- example table doesn't match example table code (only the title)
- add a section on numbering
- include: pip install sphinx_rtd_theme  in a list of things to install.

[2018-07-05 13:51] monroews commented on #26
WE need to add these extensions in the conf.py file.
 'matplotlib.sphinxext.only_directives', 'matplotlib.sphinxext.plot_directive'

I've tested this with no success yet.

[2018-07-05 14:14] juanchon998 commented on #26
Hello Monroe, I tested adding those two extensions to the conf file and they do not pass through travis. I am not sure why. I also can't run any code that uses matplotlib on my computer, as I'm getting a difficult to solve error. So Clare is working on this!

[2018-07-05 17:30] juanchon998 opened #32 "Rainbows"
Figure out how to automatically add functionality to switch the color of each subsequent letter such that they all make pretty rainbows! ! ! ! !!!

[2018-07-05 17:58] ethan92429 commented on #26
@clare45 let me know if you'd like any help here

[2018-07-05 17:59] ethan92429 commented on #14
I'm gonna close this. @juanchon998 let me know if this answer didn't clear things up

[2018-07-05 17:59] #14 closed

[2018-07-05 18:21] ethan92429 commented on #30
Add some convincing/persuasive commentary about why and how to use doctests.

[2018-07-05 18:22] juanchon998 commented on #14
Yes, everything is cleared up!

[2018-07-05 18:22] juanchon998 commented on #32
@isakaminsky  YOU FAILED

[2018-07-05 18:22] #32 closed

[2018-07-05 20:21] ethan92429 commented on #29
@juanchon998 weren't you able to get this working on your windows? The error Monroe has I think has to do with a namespace collision. I'm guessing this has something to do with having tried pip install sphinxcontrib-disqus. @monroews can you confirm that the other version of sphinxcontrib-disqus is fully uninstalled?

[2018-07-05 21:02] juanchon998 commented on #29
I was able to get this working on my computer. I included dealing with disqus in the contributor's guide, but that hasn't been publicly released at the time of this comment. Basically, run `pip uninstall sphinxcontrib-disqus` before pip installing this guy `pip install git+https://github.com/rmk135/sphinxcontrib-disqus`.

[2018-07-05 21:30] monroews commented on #29
(base) C:\Users\mw24>pip uninstall sphinxcontrib-disqus
Skipping sphinxcontrib-disqus as it is not installed.

(base) C:\Users\mw24>pip install git+https://github.com/rmk135/sphinxcontrib-disqus
Collecting git+https://github.com/rmk135/sphinxcontrib-disqus
  Cloning https://github.com/rmk135/sphinxcontrib-disqus to c:\users\mw24\appdata\local\temp\pip-req-build-xicfypai
    Complete output from co

[2018-07-06 13:28] #30 closed

[2018-07-06 17:11] ethan92429 opened #35 "Document Errors in the HTML/Latex"
Hi all,

I was just investigating why the textbook didn't build well into a PDF, and I found two errors I'd like to share, both in FCM_Derivations. These might come up again, so I'm documenting the problem in this post. The site built into html, but even there there were visual oddities.

The first error:
<img width="726" alt="screen shot 2018-07-06 at 09 53 32" src="https://user-images.githubuser

[2018-07-07 14:20] ethan92429 commented on #26
@clare45 I got this working and uploaded an example to convention setup, viewable here. I'm unclear of how we should use this. Unfortunately, you have to either define all the "source code" in the directive or an external file. This means it is impossible to have code interspersed throughout your text and have it culminate in a plot. That is what a python notebook is for. For those sorts of exampl

[2018-07-08 20:05] juanchon998 commented on #35
My `make html` -ing didn't catch these, so thank you! I don't think this needs to be documented anywhere but here, I think your explanation is clear enough to serve as a reference in the future.

I must have been in an off mood not to link to the actual image location... and through duckduckgo nonetheless! How embarrassing.

Will your solution to adding the 'cancel' package to MathJax work for any

[2018-07-09 14:15] clare45 commented on #26
If using Jupyter for the longer examples seems to be the best way to get the code to be fully interactive then I agree it makes sense to do that even if it complicates the file system slightly. Though it still might be nice to have the longer examples also able to be used with hydrogen to if anyone wants to work through the examples separately, that seems like functionality that could be added aft

[2018-07-09 18:06] ethan92429 commented on #35
@juanchon998 they wouldn't show up in `make html`... all these errors show up only in `make latex`. I just added `make latex` as something that Travis does, so you'll get online feedback about that!

[2018-07-09 18:23] juanchon998 commented on #35
Absolutely beautiful! It works great.

<Random package repository> makes me laugh every time. Thanks!

[2018-07-09 18:23] #35 closed

[2018-07-11 19:10] clare45 opened #40 "an index for all the eqn labels and section labels"
I was looking for a way to find an index of all the label tags within the textbook! (this would make referencing equations much easier because we would know which ones already exist and what we labeled them as)

The simplest thing I found was to use "grep" and a string to search for within a set of files, however that won't work in Windows. and the  other functions that exist in windows (Select-St

[2018-07-11 19:21] clare45 commented on #40
NVM I got it:

Select-String -Pattern ":label:" -Path "C:\Users\Public\github\Textbook\*\*.rst"

[2018-07-11 19:21] #40 closed

[2018-07-11 19:22] clare45 commented on #40
I got got by the github...

:label: should be ":label:"

[2018-07-11 21:49] ethan92429 commented on #40
Cool! It would also be pretty straightforward to write our own addin. I just investigated this and if you need this automated, I could probably do it in about 4 hours.

[2018-07-12 14:04] monroews commented on #29
(base) C:\Users\mw24>pip list
Package                            Version
---------------------------------- -----------
aguaclara-research                 1.0.3
aide-design                        0.0.12
alabaster                          0.7.10
anaconda-client                    1.6.3
anaconda-navigator                 1.6.2
anaconda-project                   0.6.0
asn1crypto

[2018-07-12 15:00] ethan92429 commented on #29
I don't know what is happening. I can investigate when I come up there. Is this preventing you from building? If so, I could make a branch that has disqus functionality removed that you could work on. Let me know if that's something you need!

[2018-07-13 10:01] monroews commented on #29
I have removed disqus from my branch and thus I can do builds on my computer without a problem. So this isn't urgent.

[2018-07-18 17:36] monroews opened #48 "spell checking in rst"
Add text.restructuredtext to the List of scopes in the Spell Check package in atom. This will enable spelling checking for rst.
@juanchon998 @clare45

[2018-07-18 21:12] ethan92429 commented on #48
I just added this to sync settings so that it is changed automatically for anyone who forks my sync settings. [See here. ](https://gist.github.com/ethan92429/8cb1fed2721e41873e9bcb315c804579#file-settings-json-L78)

[2018-07-19 17:51] clare45 opened #49 "handling citations"
The format of citations of the .md chapters (eg floculation) includes:

"See the following paper and book respectively for more data on slot width ratios and other hydraulic flocculator parameters: [Haarhoff 1998](http://aqua.iwaponline.com/content/47/3/142 "    DOI: 10.2166/aqua.1998.20"), [Shulz and Okun 1984](https://isbnsearch.org/isbn/0471802611 "ISBN: 0471802611")."

As well as some hyperlin

[2018-07-19 18:01] #48 closed

[2018-07-20 12:36] ethan92429 commented on #49
First thought is that a hover text is not the best way to convey this info.

"This is a problem that somebody, somewhere surely has had before..."

And so I went down the road of looking for citation managing. There's a lot of good stuff there. Seems like [sphinxcontrib-bibtex](http://sphinxcontrib-bibtex.readthedocs.io/en/latest/usage.html) is pretty well established AND uses the very standard [B

[2018-07-20 14:14] ethan92429 commented on #49
@AguaClara/textbook should we now be using BibTex citations as seen here for all things (even external links?)? That would give us the ability to create a full-featured bibliography. Thoughts?

[2018-07-20 18:30] ethan92429 opened #52 "Updating old link citations"
Someone should go through all the various links and update to the new bibtex option as implemented here.

[2018-07-20 18:31] ethan92429 commented on #49
Thoughts so far: this is not a high priority. All new citations should be created as bibtex citations, and at some point in the future someone will change all the old links to bibtex citations. I added an issue for this.

[2018-07-20 18:31] #49 closed

[2018-07-20 18:31] ethan92429 commented on #52
#49

[2018-07-23 14:40] clare45 opened #55 "Using projects to organize work?"
@monroews
@juanchon998

Can we use the projects tab/function here to organize how we are working on things?

It seems that Monroe and I were both converting the floc_design.md  to RST last week, and that seems silly.   I can set it up and then we just have to move things around once they are complete in progress!

[2018-07-23 14:43] monroews commented on #55
ooohhh. I'm ALMOST done with converting flocculation. I'll check out the projects tab.

[2018-07-23 14:55] clare45 commented on #55
I'm basing the blocks off the table in the readme which is certainly not up to date, but includes most things and is very easy to edit and change! I too was nearly done converting it. I just needed to add citations as with the new convention. There are at least a few merge conflicts with them, but they should be fairly simple since it was mainly the conversion happening

[2018-07-23 15:11] monroews commented on #55
I was editing floc design and derivations this morning.... So I pushed those changes to the branch I am on (migrate_md_rst). Can you merge those with your changes?

I'm still working on floc Intro.

[2018-07-24 18:31] juanchon998 commented on #55
This is a great idea! Today I will spend time learning about all the nice features that GitHub offers and how they can streamline our work on the different aspects of the book. I'll write my progress here and tag you all!

[2018-07-24 18:42] juanchon998 commented on #13
Software versions are specified in a table at the beginning of the index.

[2018-07-24 18:42] #13 closed

[2018-07-24 18:43] juanchon998 commented on #7
@monroews do you have a status update on this?

[2018-07-24 18:54] monroews commented on #7
I've pushed what I have up to the textbook. I've successfully made the switch from md to rst. Now I want to return to editing the general intro and the rapid mix files

[2018-07-24 20:49] clare45 commented on #52
Several questions/problems with links:

- internal references don't work from the .bib files even with the pdf's stored in the _static folder
- we can't store all information as pdfs because information "is proprietary" and we ain't tryna get sued

- some possible solutions:
-- links from the DOI, external but unchanging
-- old timey citations with no urls and thus no linkage
-- somehow making the

[2018-07-24 22:45] ethan92429 commented on #52
Ok, we can just increase the timeout for htmlproofer in Travis. I can set
that up soon. Thanks for looking into this, Clare!

On Tue, Jul 24, 2018, 16:50 clare45 <notifications@github.com> wrote:

[2018-07-25 17:49] juanchon998 opened #58 "Rapid Mix Theory and Future Work"
RM_Theory_and_Future_Work.rst

Any feedback related to this file should go here!

[2018-07-25 17:50] juanchon998 opened #59 "Rapid Mix Intro"
RM_Intro.rst

Any feedback and work related to this document should go here!

[2018-07-25 17:52] juanchon998 opened #60 "Rapid Mix Examples"
Rapid_Mix/RM_Examples.rst

Any feedback and work related to this document should go here!

[2018-07-25 17:54] juanchon998 opened #61 "Rapid Mix Design"
Rapid_Mix/RM_Design.rst

Any feedback and work related to this document should go here!

[2018-07-25 17:56] juanchon998 opened #62 "Rapid Mix Derivations"
Rapid_Mix/RM_Derivations.rst

Any feedback and work related to this document should go here!

[2018-07-25 18:44] juanchon998 commented on #52
- [ ] File x line y or whatever

this is an example

[2018-07-25 21:42] juanchon998 opened #66 "Introduction Introduction"
Introduction/Introduction.rst
[Found here](https://aguaclara.github.io/Textbook/Introduction/Introduction.html)

Any feedback and work related to this document should go here!

[2018-07-25 22:00] juanchon998 opened #67 "Review: Fluid Mechanics Derivations"
Review/Review_Fluid_Mechanics_Derivations.rst
[Found here](https://aguaclara.github.io/Textbook/Review/Review_Fluid_Mechanics_Derivations.html)

Any feedback or work related to this document should go here!

[2018-07-25 22:05] juanchon998 opened #68 "Review: Python Tutorial"
Review/Review_

This has not yet been started and is therefore not on the site.

Any feedback or work related to the soon-to-exist python tutorial should go here!

[2018-07-25 22:32] juanchon998 opened #69 "Flow Control and Measurement Intro"
[Found here on Github](https://github.com/AguaClara/Textbook/blob/master/Flow_Control_and_Measurement/FCM_Intro.rst)
[Found here in the textbook](https://aguaclara.github.io/Textbook/Flow_Control_and_Measurement/FCM_Intro.html)

Any feedback or work on this document should go here.

[2018-07-25 22:35] juanchon998 opened #70 "Flow Control and Measurement Derivations"
[Found here in GitHub](https://github.com/AguaClara/Textbook/blob/master/Flow_Control_and_Measurement/FCM_Derivations.rst)
[Found here in the textbook](https://aguaclara.github.io/Textbook/Flow_Control_and_Measurement/FCM_Derivations.html)

Any feedback or comments on this document should go here!

[2018-07-25 22:37] juanchon998 opened #71 "Flow Control and Measurement Theory and Future Work"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet!

Any feedback or comments on this document should go here!

[2018-07-25 22:38] juanchon998 opened #72 "Flow Control and Measurement Examples"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet!

Any feedback or comments on this document should go here!

[2018-07-25 22:51] juanchon998 opened #73 "Flocculation Derivations"
{Found here on GitHub](https://github.com/AguaClara/Textbook/blob/master/Flocculation/Floc_Derivations.rst)
[Found here in the textbook]()

Any feedback or comments on this document should go here!

[2018-07-25 22:53] juanchon998 opened #74 "Flocculation Introduction"
[Found here on GitHub](https://github.com/AguaClara/Textbook/blob/master/Flocculation/Floc_Intro.rst)
[Found here in the textbook](https://aguaclara.github.io/Textbook/Flocculation/Floc_Intro.html)

Any feedback or comments on this document should go here!

[2018-07-25 22:54] juanchon998 opened #75 "Flocculation Theory and Future Work"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet!

Any feedback or comments on this document should go here!

[2018-07-25 22:55] juanchon998 opened #76 "Flocculation Examples"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet!

Any feedback or comments on this document should go here!

[2018-07-25 23:21] juanchon998 opened #78 "Filtration Design"
[Found here on GitHub](https://github.com/AguaClara/Textbook/blob/master/Filtration/Filtration_Design.rst)
[Found here in the textbook]()

↑ broken link for the textbook because it has not been released yet.

Any feedback or comments on this document should go here!

[2018-07-25 23:24] juanchon998 opened #79 "Filtration Derivations"
[Found here on GitHub](https://github.com/AguaClara/Textbook/blob/master/Filtration/Filtration_Derivations.rst)
[Found here in the textbook](https://aguaclara.github.io/Textbook/Filtration/Filtration_Derivations.html)

Any feedback or comments on this document should go here!

[2018-07-25 23:34] juanchon998 opened #80 "Filtration Introduction"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet.

Any feedback or comments on this document should go here!

[2018-07-25 23:35] juanchon998 opened #81 "Filtration Theory and Future Work"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet.

Any feedback or comments on this document should go here!

[2018-07-25 23:37] juanchon998 opened #82 "Filtration Examples"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet.

Any feedback or comments on this document should go here!

[2018-07-25 23:54] juanchon998 opened #83 "Sedimentation Introduction"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet!

Any feedback or comments on this document should go here!

[2018-07-25 23:57] juanchon998 opened #84 "Sedimentation Design"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet!

Any feedback or comments on this document should go here!

[2018-07-25 23:58] juanchon998 opened #85 "Sedimentation Derivations"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet.

Any feedback or comments on this document should go here!

[2018-07-25 23:58] juanchon998 opened #86 "Sedimentation Examples"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet.

Any feedback or comments on this document should go here!

[2018-07-25 23:59] juanchon998 opened #87 "Sedimentation Theory and Future Work"
[Found here on GitHub]()
[Found here in the textbook]()

↑ broken links because this document does not exist yet!

Any feedback or comments on this document should go here!

[2018-07-26 00:03] juanchon998 commented on #55
Ok I believe everything is in the projects tab. Document thoughts/questions/comments here and remember to actually use the projects tab!

[2018-07-26 20:52] monroews opened #88 "hyperlink broken in FCM"
@juanchon998
- _build/html/Flow_Control_and_Measurement/FCM_Design.html
  *  External link http://www.nptel.ac.in/courses/105106114/pdfs/Unit14/14_3b.pdf failed: got a time out (response code 302)
htmlproofer 3.9.1 | Error:  HTML-Proofer found 1 failure!

This is what prevented revision 11 from publishing

[2018-07-30 18:30] clare45 commented on #79
- [ ] sand layer thickness
- [ ] flow dist constraint
- [ ] n filters
- [ ] clean bed head loss
- [ ] aux box width + plumbing
- [ ]  n manifold branches
- [ ] filter box dim + manifld pipe lengths
- [ ] manifold slot/orofice design
- [ ] plumbing head loss
- [ ] total sand depth + BW HL
- [ ] path HL & dist between layers
- [ ] siphon design
- [ ] inlet channel + elevations
- [ ] elevations
- [ ]

[2018-07-30 20:55] juanchon998 commented on #3
- [ ] Mention that the "head loss trick" can or should be referred to as 'exit losses'

[2018-08-03 21:35] monroews opened #95 "Can't publish release 0.0.14"
We are stuck on release 0.0.8. I thought I did everything necessary to release version 0.0.14, but it isn't publishing and I'm clearly missing the last? step.

[2018-08-03 21:35] #88 closed

[2018-08-05 10:15] #29 closed

[2018-08-07 18:07] juanchon998 commented on #95
This was solved by Monroe. The problem was that the pdf was not being compiled correctly due to errors in the :math: directive. Monroe fixed them all when he released version 0.0.16.

@ethan92429 , can you please add to [this section](https://aguaclara.github.io/Textbook/Textbook_Creation_Help/rst_intro.html#building-rst-locally-with-sphinx) in the textbook with a snippet about how to build the pd

[2018-08-07 18:15] juanchon998 commented on #95
@monroews

Can you share what the main problems were with the math formatting so that we can avoid them in the future?

[2018-08-07 18:43] monroews commented on #95
It turned out to be a missing { in an equation. But I think we should format our rst documents so they display correctly in the preview so we have an instant check.  For example, there must be a carriage return after the figure declaration in order for the figure to display correctly. Similarly, there must be a carriage return after the math declaration before the equation.

[2018-08-08 19:37] juanchon998 commented on #95
email check!

Juan Guzmán

*EIT, Master of Engineering*
AguaClara Engineer

[image: https://www.aguaclarareach.org/] <https://www.aguaclarareach.org/>

On Tue, Aug 7, 2018 at 2:43 PM, Monroe Weber-Shirk <notifications@github.com

[2018-08-08 19:38] monroews commented on #95
Don't worry about release 14. 16 is now live.

Monroe Weber-Shirk

AguaClara <http://aguaclara.cornell.edu/> Cornell
Civil and Environmental Engineering <http://www.cee.cornell.edu/>
Cornell University <http://www.cornell.edu/>
Hollister Hall 265
(607) 216-8445

On Wed, Aug 8, 2018 at 3:37 PM Juan Guzman <notifications@github.com> wrote:

[2018-08-10 12:56] juanchon998 commented on #29
This is a test reply to show John Finn how email interacts with GitHub

Juan Guzmán

*EIT, Master of Engineering*
AguaClara Engineer

[image: https://www.aguaclarareach.org/] <https://www.aguaclarareach.org/>

On Sun, Aug 5, 2018 at 6:15 AM, Monroe Weber-Shirk <notifications@github.com

[2018-08-12 12:14] #95 closed

[2018-08-16 15:40] monroews opened #101 "troubleshooting El PODA filter"
I need a photo that shows the influent and effluent piping for one of the filters at El PODA. Or a drawing. I want to explain why air was carried by the horizontal section of the effluent piping and forced into the downward flowing section of pipe causing a complete air lock. This will go in the Troubleshooting section of the textbook.

[2018-08-16 17:03] juanchon998 commented on #101
Will do. If everything works out (an assumption I've been told to question by me predecessors), we'll be in El PODA sometime next week. I'll take the pictures then and add them to the repo.

[2018-08-28 17:04] clare45 commented on #79
note for me: python 3.6

[2018-09-05 14:37] monroews opened #108 "hyperlink failures"
Travis sometimes claims hyperlinks fail when they seem fine. For example, this hyperlink, https://www.iwapublishing.com/news/coagulation-and-flocculation-water-and-wastewater-treatment, fails with Travis. Would there be some way of overriding Travis to allow the textbook to be released with this link? @ethan92429

[2018-09-11 15:31] ethan92429 opened #112 "Make A troubleshooting guide to Building the textbook"
If you look through the failed Travis builds, you'll find that very commonly it is the PDF build that fails. Almost always, that failure is justified, as in the failure is represented by some failed html page displaying. This is because during the PDF build phase, we process the LaTex in house, meaning we'll catch math LaTex errors, whereas during the html building phase, the LaTeX is processed by

[2018-09-11 15:46] ethan92429 commented on #112
Here's a first list of some useful steps:
- [ ]  IGNORE WARNINGS - there will be 100s of warnings. They are not what broke your build. Instead, just pay attention to the errors, designated with a "!". To find it, scroll to the bottom of the build - the error will start with a !.
- [ ] Attempt to find the point in the corresponding html where the error ocurred. Chances are, it will be in or near a

[2018-09-11 16:27] monroews commented on #112
If no error message is given fatal error, then look through the textbook starting from the last warning. Leftover html from our Markdown days is one likely source of errors. But that should have all been cleared out by now. Badly formatted equations are the other culprit.

[2018-09-13 17:39] clare45 commented on #78
There are aspects of the EStaRS and OStaRS filter design that are done in the exact same way, so for some sections the work won't need to be repeated. Not sure how this plays into the book though

[2018-09-18 18:32] clare45 opened #115 "EStaRS Design"
EStaRS design to be made and RST'd

Things that are the same:
- [ ] Sand layer thickness as function of diameter
- [ ] Flow Distribution Constraint:  ratio of pressure recovery to clean bed head loss
- [ ] Path head loss calc and flow distribution between layers

[2018-09-18 18:49] clare45 commented on #115
sections:
- [ ] Dimensions and Pipe Size
- [ ] Sand Layer Thickness as a Function of Diameter
- [ ] Flow Distribution Constraints: ratio of pressure recovery to clean bed head loss
- [ ] Filter Flow Rates and Layer Height
- [ ] Filter Trunk and Branch Diameters
- [ ] Manifold Pipe Lengths
- [ ] Inlet Orifice and Outlet Slot Design
- [ ] Entrance and Exit Pipe Dimensions
- [ ] Total Sand Depth, Fil

[2018-09-20 18:37] clare45 commented on #115
@juanchon998 What is the sample file to test the values for the EStaRS file?

[2018-09-20 22:27] juanchon998 commented on #115
Sorry that I saw this so late! You can the file that generated the EStaRS that are currently funcioning in El PODA and San Juan Guarita. The version of the design tool that was used to generate that was 7055. To get to that version follow the instructions on the README.

Then navigate to this file `Final Designs\Under Development\EStaRS_Honduras_jsc377`.

The file that calls it and generates the p

[2018-09-21 15:08] juanchon998 commented on #115
Hey Clare: Please note the following: the `Final Designs\Under Development\EStaRS_Honduras_jsc377` file in version 7055 does not calculate the filter trunk and branch diameters correctly in section:

![image](https://user-images.githubusercontent.com/27255695/45889425-a913aa00-bd7d-11e8-9b82-7cec1b85a011.png)

Does not take into consideration the pressure recovery of both the trunk and the branch.

[2018-09-25 21:12] zoemaisel opened #116 "Make sure to pull from master and merge each time you work in your branch"
[How to pull from master](https://stackoverflow.com/questions/20101994/git-pull-from-master-into-the-development-branch)

[How to enter a commit message](https://stackoverflow.com/questions/19085807/please-enter-a-commit-message-to-explain-why-this-merge-is-necessary-especially)

[2018-09-26 20:09] juanchon998 commented on #115
Hey Clare, I'm going to use this issue/comment to write down changes that I would like made to the EStaRS design file. Once the list gets long enough, I will make the changes and push a new commit.
- [ ] **Siphon Design**
![image](https://user-images.githubusercontent.com/27255695/46106322-9f32e200-c195-11e8-9979-e3d475f8e57e.png)

Replace `HL.FiBwSF + HL.FiBwSS` with HL.FiBwInitiation` for clarit

[2018-09-26 23:47] juanchon998 commented on #3
# Create new section for weirs!

Weirs are critically important to understanding how water flows through an AguaClara plant. I propose that they be discussed in this document.

@clare45 does anyone currently working on the textbook want to take this up?
While I'm here, is there any subteam lead for the textbook team (you?)? Who should I talk to regarding general textbook things?

[2018-09-27 16:05] clare45 commented on #3
I guess I can act as STL for textbook. I'll reach out and see if anyone want to add it. That would go in the fluids section? I can now add a todo on that Issue

[2018-10-01 01:31] juanchon998 commented on #3
Thank you!

[2018-11-13 21:07] clare45 commented on #115
Things there are still problems with from me separated by section:

**Dimensions and Pipe Size**
    - some of the defined sizes may be wrong depending on field testing
  **Sand Layer Thickness as a Function of Diameter**
   - these function are unnecessary for the EstaRS design. The trunk will not be >6 in so the sand layer height will always be 20. For simplicity they should be deleted.
  **Flow

[2018-11-26 02:15] juanchon998 commented on #115
Let's talk about this tomorrow! I can dig up my file during our meeting time

[2019-01-28 20:31] zoemaisel commented on #84
- [ ] Design of inlet diffusers
- [ ] Add conclusions and questions for each part of sed tank (ex: floc blanket conclusions), and overall chapter
- [ ] Include info from slide "delivering flocs to the sedimentation tank"
- [ ] Figure out how much manifold and flow distribution design information needs to go in chapter
- [ ] Include a section for "sedimentation tank as a circuit" (related to above)

[2019-01-30 15:18] zoemaisel commented on #84
Orifices in launder add head loss **clarify this

[2019-01-30 18:05] zoemaisel commented on #84
Note: students will start learning about sedimentation in class on 03/12. Goal is to sedimentation content published to master on textbook before then.

Rough timeline:
- By 2/1: include all content from powerpoint and lectures (thru sed tank as circuit)
- By 2/8: update variable naming and include all figures, tables, and plots as needed

**Send to @monroews for review** 2/8 - 2/13 (?) to avoid m

[2019-02-01 13:14] zoemaisel commented on #84
Look into v_{p\alpha} vs v_{alpha}

[2019-02-14 21:29] oliver-leung opened #138 "Can't make build the textbook - Sphinx and sphinxconfig.disqus versions"
I've been trying to `make build` the textbook in order to read [Sedimentation Design](https://github.com/AguaClara/Textbook/blob/sedimentation/Sedimentation/Sed_Design.rst) article that @zoemaisel has been working on. However, whenever I try to do that, I get

[code]

I checked to see that I had `sphinxcontrib.disqus` installed, then I found that there is [an open PR](https://github.com/Robpol86/s

[2019-02-16 17:34] oliver-leung commented on #138
Nevermind, just found @juanchon998 's old issue #20 ! I'll set up a `pipenv` and see if things clear up.

[2019-02-16 17:47] #138 closed

[2019-03-05 17:12] jillianwhiting commented on #83
Made a few wording changes, but overall very good. Also this is a comment that I think could extend throughout the entire textbook, since we have the capability, I think if you mention that something will be discussed in a later section or a previous section you could add a link to it

[2019-03-10 17:11] jillianwhiting commented on #84
- [ ] I think the resistance example is great but it is a bit confusing when you dont know what the parts mean so maybe only do it at the end or go into a bit of detail of what each thing means first
-[ ] In the influent channel sections, the questions make it hard to read because they are every sentence, a few questions are good, but when it is every sentence it distracts from the information
-[

[2019-03-10 17:35] jillianwhiting commented on #85
- [ ] In the picture for the lab setup of a flocculator and half-sed tank the labels are not all on the white rectangles made for them (small thing but it just kind of looks weird)
- [ ] In the table for flocculator floc blanket paradox the velocity gradient and G theta are just x and y, if they should be variables it would be helpful to add a sentence about it

[2019-03-10 17:37] jillianwhiting commented on #86
Is there going to be more added to this part?

[2019-03-11 17:35] zoemaisel commented on #86
I just added two more examples. There is also the entire document of the old Sedimentation Design Challenge, which is basically just examples. I am not yet sure if that document should be incorporated into the Examples document, or if it should be left separate. @monroews @jillianwhiting thoughts on how the Examples document should be incorporated with the old DC?

[2019-03-11 19:20] monroews commented on #86
I'd see the examples section in each chapter as a place for well defined examples that are done nicely. The old DCs are pretty rough and a longer term dream would be to clean up what is most instructive from those DCs and add them to the examples section.

[2019-06-11 16:47] IanCullings opened #150 "Add Section on 1 LPS Plant"
Given that the 1 LPS plant is a crucial part of the AguaClara design, it would be good to have a section on how it works, was designed, and future work.  This can be a goal for summer 2019.

[2019-06-11 21:03] IanCullings commented on #74
Feedback on this section:
[] - What is lamellar?
[] - First paragraph feels a bit disorganized
[] - What is the assumed level of knowledge for this textbook?  Because I imagine only EnvE's and a few others will know the term plug flow, might need an explanation somewhere
[] - What do all the terms in equation 317 mean?  Where does this come from?
[] - Is there a paper or something this can refer t

[2020-05-11 16:23] monroews opened #186 "Travis fails when building textbook"
I am unable to build a new version of the AguaClara textbook.
Travis is throwing a lot of errors.
see https://travis-ci.org/github/AguaClara/Textbook
@ethan92429 says it is an environment issue within travis.
One of the errors that is reported by travis is...
Could not import extension sphinxcontrib.bibtex (exception: No module named 'sphinxcontrib.bibtex')

It would be great to reduce the number

[2020-05-11 17:57] monroews commented on #186
Well, the release worked and now I have no idea why it worked. I suppose this moves this back off of the priority list and we will see what happens next time we try to make a new release!

[2020-05-11 17:57] #186 closed

[2020-08-13 17:30] monroews opened #193 "translate to Spanish"
https://github.com/AguaClara/aide_design_specs

[2021-01-19 05:50] WPennock opened #206 "Citing this textbook"
I am referencing this textbook in my graduate course, and it would be helpful to have citation information given in the frontmatter of the book.

[2021-02-11 20:45] fletchapin opened #212 "ERR: Example RST isn't found when building PDF"
When building the HTML version of the textbook there is no error. However, when building the PDF version the error message `C:\Users\Fletch\Documents\Git\Textbook\index.rst: WARNING: toctree contains ref to nonexisting file 'Textbook_Creation_Help/example_aguaclara_rst'` appears, even though `example_aguaclara_rst.rst` clearly exists.

![PDFBuildError](https://user-images.githubusercontent.com/174

[2021-02-12 03:48] fletchapin opened #215 "ENH:"
## Use Case
On the title page of the PDF or header of the HTML documentation there is a version listed, and right now it always defaults to version `EXPERIMENTAL`.

## Solution
The version is defined [here in conf.py](https://github.com/AguaClara/Textbook/blob/master/conf.py#L70). The `os.getenv` call should be fixed to figure out the version in a different way since Travis is no longer being used

[2021-03-21 19:26] lainey-reed opened #220 "ENH: CoLab implementation within textbook"
## Goals
We are trying to figure out a way to put interactive CoLab snippets of code into the textbook, so that anyone reading can practice using the aguaclara package and textbook concepts.

## Methods
Ben and Lainey are investigating possible ways to implement this feature using either Gist or another software, like MyBinder which can allow interactive code.

[2021-05-01 16:18] lainey-reed opened #233 "QST: Functions within Aguaclara package deprecated"
As Ben and I have been putting the textbook code into Colab and running it we have been having some errors in the code which we are not sure how to address. For example, in both Chapter 8 and Chapter 10 the function floc_model.diam_floc_max is called (documentation here: https://aguaclara.github.io/aguaclara/research/floc_model.html?highlight=diam_floc_max#aguaclara.research.floc_model.diam_floc_m

[2021-12-19 22:45] fockboi-lgtm opened #242 "[Security] Workflow test-build.yml is using vulnerable action actions/checkout"
The workflow test-build.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix